
*.xcbkptlist

*.xcbkptlist
*.xcuserstate
Findie/Findie.xcodeproj/project.xcworkspace/xcuserdata/elahiammar.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcuserstate
